<template>
  <div class="list-row">
    <h1>Liste des comptes</h1>
    <template v-if="departmentManagers.length!=0">
      <b-table striped hover :items="departmentManagers"></b-table>
    </template>
    <template v-else>
      <h2>Aucun compte présent dans la base de données !</h2>
    </template>
  </div>
</template>

<script>
export default {
  name: 'List',
  data () {
    return {
      departmentManagers: []
    }
  },
  created () {
    this.$http.get('/DepartmentManagers')
    .then(request => this.buildAuthorList(request.data))
    .catch(() => { alert('Something went wrong!') })
  },
  methods: {
    buildAuthorList (data) {
      this.departmentManagers = data
      console.log(this.departmentManagers.length)
    }
  }
}
</script>

<style>
.table table> tbody > tr > td {
   vertical-align: middle;
   width: px;
}
</style>
