<template>
  <div class="list-row">
    <h1>Liste des produits</h1>
    <template v-if="products.length!=0">
      <b-table striped hover :items="products"></b-table>
    </template>
    <template v-else>
      <h2>Aucun produit présent dans la base de données !</h2>
    </template>
  </div>
</template>

<script>
export default {
  name: 'List',
  data () {
    return {
      products: []
    }
  },
  created () {
    this.$http.get('/Products')
    .then(request => this.buildAuthorList(request.data))
    .catch(() => { alert('Something went wrong!') })
  },
  methods: {
    buildAuthorList (data) {
      this.products = data
    }
  }
}
</script>

<style>
.table table> tbody > tr > td {
   vertical-align: middle;
   width: px;
}
</style>
