<template>
  <div>
    <form class="form-create" @submit.prevent="createUser">
      <h2 class="form-signin-heading">Ajout d'un nouveau compte</h2>
      <div class="alert alert-danger" v-if="error">{{ error }}</div>
      <label for="inputNom" class="sr-only">Nom</label>
      <input v-model="lastName" type="text" id="inputNom" class="form-control" placeholder="Nom" required autofocus>
      <label for="inputPrenom" class="sr-only">Prénom</label>
      <input v-model="firstName" type="text" id="inputPrenom" class="form-control" placeholder="Prenom" required autofocus>
      <label for="inputEmail" class="sr-only">Adresse mail</label>
      <input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="Adresse mail" required autofocus>
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Créer</button>
      <button type="reset" class="btn btn-default">Annuler</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'CreateUser',
  data () {
    return {
      email: '',
      password: '',
      firstName: '',
      lastName: '',
      role: 0,
      error: false
    }
  },
  methods: {
    createUser(){
      // ne fonctionne pas
      this.$http.post('/Owners', { firstName: this.firstName, lastName: this.lastName, email: this.email, role: this.role, password: 0 })
      .then(this.$router.replace('/accueil'))
      .catch(() => this.loginFailed())
    },
    loginFailed () {
      this.error = "Erreur lors de l'ajout !"
    }
  }
}
</script>
