<template>
  <div id="app">
    <div class="container">
      <template v-if="currentUser">
        <Navbar></Navbar>
        <sidebar-menu :menu="menu" />

      </template>
      <div class="container-fluid">
        <router-view></router-view>
        <template v-if="currentUser">
          <Foot></Foot>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import Navbar from '@/components/Navbar'
import Foot from '@/components/Foot'

export default {
  name: 'app',
  computed: {
    ...mapGetters({ currentUser: 'currentUser' })
  },
  created () {
    this.checkCurrentLogin()
  },
  updated () {
    this.checkCurrentLogin()
  },
  methods: {
    checkCurrentLogin () {
      if (!this.currentUser && this.$route.path !== '/') {
        this.$router.push('/?redirect=' + this.$route.path)
      }
    }
  },
  components: {
    Navbar,
    Foot
  },

  data() {
    return {
      menu: [
        {
          header: true,
          title: 'Menu',
          hiddenOnCollapse: true
        },
        {
          title: 'Gérer les magasins',
          external: true,
          icon: 'fas user',
          child: [
            {
              href: '/magasins',
              title: 'Liste des magasins'
            },
            {
              href: '/ajoutMag',
              title: 'Ajouter un magasin'
            }
          ]
        },
        {
          title: 'Gérer les comptes',
          external: true,
          icon: 'fas user',
          child: [
            {
              href: '/comptes',
              title: 'Liste des comptes'
            },
            {
              href: '/ajoutCompte',
              title: 'Ajouter un compte'
            }
          ]
        },
        {
          title: 'Gérer les stocks',
          external: true,
          icon: 'fas user',
          child: [
            {
              href: '/produits',
              title: 'Liste des produits'
            },
            {
              href: '/ajoutStock',
              title: 'Ajouter un produit'
            }
          ]
        }
      ]
    }
  }
}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
